<div class="col-12 pt-lg-3 mb-4 px-4 portfolio-content justify-content-center">
    <h2 id="Email-Me" class="text-center"><a href="#Email-Me" class="headerlink" title="Email Me"></a>Message Me</h2>
    <form method="POST" action="https://formspree.io/f/xjvdgwky"><br> 
        <input type="text" name="name"
            placeholder="Your name" required="required"><br> <input type="email" name="_replyto" placeholder="Your email address"required="required"><br>
        <textarea name="message" placeholder="Message" required="required"></textarea><br> 
        <button type="submit"class="btn btn-outline-primary">Send</button>
        <br>
    </form>
</div>